name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Setup .NET Core 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Fix versions
      run: pwsh -f Common/fix_versions.ps1
    - name: Install dependencies
      run: dotnet restore SgmlReader.sln
    - name: Build
      run: dotnet build SgmlReader.sln 
    - name: Test
      run: dotnet test SgmlReader.sln --verbosity normal
